@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

.prose h1 {
  font-size: 2rem;
  font-weight: 500;
}

.prose h2 {
  font-weight: 500;
}

.prose h3 {
  font-weight: 500;
}

.prose a {
  text-decoration: none;
}

.prose h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.05rem;
}

@layer base {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: oklch(0.8 0 0);
    border-radius: 0px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: oklch(0.7 0 0);
  }

  .dark ::-webkit-scrollbar-thumb {
    background: oklch(0.35 0 0);
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background: oklch(0.45 0 0);
  }

  .content {
    h1 {
      @apply text-2xl tracking-tighter md:text-4xl;
    }

    h2 {
      @apply text-xl tracking-tighter md:text-3xl;
    }

    h3 {
      @apply text-lg tracking-tighter md:text-2xl;
    }

    h4 {
      @apply text-base tracking-tighter md:text-lg;
    }

    p {
      @apply text-sm md:text-base opacity-80;
    }

    hr {
      @apply !my-10;
    }

    /* a {
      @apply underline transition-colors ml-1 hover:text-fd-muted-foreground;
    } */

    strong {
      @apply font-normal font-serif bg-[#0000ff]/10 dark:bg-fd-foreground/20 !px-2 !py-0.5 rounded;
    }
  }
}
